@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

$white: #fff;
$black: #000;
$blackish: #252525;
$themeClr: #4a99cb;
$greyDark: #ccc;
$greyLight: #e4e4e4;
$darkClr: #1f2f62;
$red: salmon;
$green: rgb(60, 158, 22);

html{
  font-size: 18.5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.vue-notification{
  .notifcation-content{
    font-size: 10px;
  }
  &.success{
    background: #0b4d7c !important;
    // border-left-color: $used_blue !important;
  }
}